<footer class="site-footer">
    {{!-- you can remove it --}}
        <section class="poweredby ghost">
        </section>
        <section class="poweredby px-themes">
        </section>
    {{!-- remove it --}}
</footer>